extends layout

block mainPage
  h1(id="mainTitle") C++ reference di Lless
  div(class="mainContainer fadein" onload="document.body.className += ' loaded';")
    div(class="partContainer")
      p Parte 1<br> Basi del C++
      ol(class="chaptersContainer")
        li #[a(href="./part1#intro") Introduzione]
        li #[a(href="./part1#sec1") Ipsum]
        li #[a(href="./index.html") Dolor]
        li #[a(href="./index.html") Sit1]
        li #[a(href="./index.html") Sit2]
        li #[a(href="./index.html") Sit3]
        li #[a(href="./index.html") Sit4]
        li #[a(href="./index.html") Sit5]
        li #[a(href="./index.html") Sit6]
        li #[a(href="./index.html") Sit7]
        li #[a(href="./index.html") Sit8]
        li #[a(href="./index.html") Sit9]
    div(class="partContainer")
      p Parte 1<br> Basi del C++
      ol(class="chaptersContainer")
        li #[a(href="./part1") Introduzione]
        li #[a(href="./index.html") Ipsum]
        li #[a(href="./index.html") Dolor]
        li #[a(href="./index.html") Sit1]
        li #[a(href="./index.html") Sit2]
        li #[a(href="./index.html") Sit3]
        li #[a(href="./index.html") Sit4]
        li #[a(href="./index.html") Sit5]
        li #[a(href="./index.html") Sit6]
        li #[a(href="./index.html") Sit7]
        li #[a(href="./index.html") Sit8]
        li #[a(href="./index.html") Sit9]
    div(class="partContainer")
      p Parte 1<br> Basi del C++
      ol(class="chaptersContainer")
        li #[a(href="./part1") Introduzione]
        li #[a(href="./index.html") Ipsum]
        li #[a(href="./index.html") Dolor]
        li #[a(href="./index.html") Sit1]
        li #[a(href="./index.html") Sit2]
        li #[a(href="./index.html") Sit3]
        li #[a(href="./index.html") Sit4]
        li #[a(href="./index.html") Sit5]
        li #[a(href="./index.html") Sit6]
        li #[a(href="./index.html") Sit7]
        li #[a(href="./index.html") Sit8]
        li #[a(href="./index.html") Sit9]
  script(type="text/javascript" src="javascripts/main.js")
