doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/part.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    nav(id="navigator")
        ul
            li #[a(href="./") Home]
            li #[a(href="./part1#intro") Introduzione]
            li #[a(href="./part1#sec1") Tipi di dati]
  div(class="terminalContainer")
    p <i class="fa fa-level-down flip" aria-hidden="true"></i> Prova qui il tuo codice! <i class="fa fa-level-down" aria-hidden="true"></i>
    button(onClick="window.location.reload();") Reset compiler
    <iframe class="terminal" src="https://repl.it/repls/BustlingPointedTheories?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
  div(id="rightStuff")
      h2(id="intro") Parte 1: Basi del C++
      p Questa parte si basa sui fondamentali del C++
      h3(id="sec1") Tipi di dati
      p I tipi di dato sono: 

      p(class="codeFormat")
        | int, float, double
        | hello       // hello
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime const deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minus deserunt impedit in ipsa ut modi ducimus rerum non voluptas, quibusdam nobis earum placeat vitae officiis reiciendis, assumenda esse.
